footer {
	border: 1px solid black;
}

.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: auto;
	background-color: #c7c7c7
}

.footer .row {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.footer .column {
	flex: 25%;
	padding-left: 20px;
}

/* Source: https://stackoverflow.com/questions/30341572/get-links-in-div-on-separate-lines */
.footer nav a:after {
	content: "";
	display: block;
	height: 0;
	width: 1px;
}

.footer div p {
	margin: 0;
}

.footer img {
	border: 0;
}


/* Source: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media (max-width: 30em) {
	.footer .column {
		flex: 50%;
		padding-left: 25px;
		margin-bottom: 0px;
	}
	
	.footer .row {
		width: 100%;
	}
	
}