
 li, a, button {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-size: 1em;
   color: rgb(61, 125, 209);
   text-decoration: none;
 }

 [class^='grid-col-'] {
 	float: left;
 	padding: 0;

 }

 .grid-col-1of2, .grid-col-1of4, .grid-col-1of3, .grid-col-2of3 {
 	width: 100%;
 }

 .grid-row::after {
 	content: "";
 	display: block;
 	clear: both;

 }

 .grid-col-1of4 > .nav-main-item {
 	width: 100%;
 }

.nav-main-item {
	display: inline-block;
	color: rgb(61, 125, 209);
	font-size: 1rem;
	padding: 2rem 8rem;
	text-decoration: none;
  transition: all 0.3s ease 0s;

}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: black;
}

.logo {
  cursor: pointer;
  border: none
}

.nav_links {
  list-style: none;
  padding: 2rem 8rem;

}

 @media (min-width: 48.75em) {

 	.grid-col-1of2 {
 		width: 50%;
 	}

 	.grid-col-1of2:last-of-type {
 		padding-left: 1rem;
 	}

 	.grid-col-1of4 {
 		width: 50%;
 	}
 }

 @media (min-width: 73em) {

 	.grid-col-2of3 {
 		width: 66.666%;
 	}

 	.grid-col-1of3 {
 		width: 33.333%;
 		padding-left: 1rem;
 	}

 	.grid-col-1of4 {
 		width: 25%;
 	}
}
